<div class="user-div">
  <h1>Name: <%= user.name%></h1>
  <h1>Phone Number: <%= user.phone_no%></h1>
  <h1>Email / User-ID: <%= user.email%></h1>
  <h1>Total Number of Rental Agreements: <%= user.rental_agreements.count%></h1>
</div>