* {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

/* ------------------------------------------------------------ COMMON ------------------------------------------------------------ */

:root {
  --black-color: #31363f;
  --white-color: #eeeeee;
  --turquoise-color: #76abae;
}

.container {
  padding-bottom: 1rem;
}

body {
  height: 100vh;
}

a,
a:hover {
  text-decoration: none;
  color: var(--white-color);
}

/* ------------------------------------------------------------ NAVBAR ------------------------------------------------------------ */

div.navbar {
  background-color: var(--black-color);
  color: var(--white-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

#brand-text {
  font-weight: bold;
}

#nav-list {
  list-style-type: none;
  margin-top: auto;

  display: flex;
}

.nav-items {
  font-size: 1.15rem;
  margin: auto 1rem;
  font-weight: bold;
}
