.no-vehicle-msg {
  text-align: center;
  padding: 2rem;
  line-height: 1.5;
}

.vehicle-item {
  padding: 3rem 2rem;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicle-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.style-vehicle-img {
  width: 15rem;
  aspect-ratio: 16/9;
  margin-right: 2rem;

  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.15rem 0.15rem 0.25rem black;
}

.button-content {
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

/* ------------------------------------------------------------ COMMON ------------------------------------------------------------ */

:root {
  --black-color: #31363f;
  --white-color: #eeeeee;
  --turquoise-color: #76abae;
}

.container {
  padding-bottom: 1rem;
}

body {
  height: 100vh;
}

a,
a:hover {
  text-decoration: none;
  color: var(--white-color);
}

/* ------------------------------------------------------------ NAVBAR ------------------------------------------------------------ */

div.navbar {
  background-color: var(--black-color);
  color: var(--white-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

#brand-text {
  font-weight: bold;
}

#nav-list {
  list-style-type: none;
  margin-top: auto;

  display: flex;
}

.nav-items {
  font-size: 1.15rem;
  margin: auto 1rem;
  font-weight: bold;
}

/* ------------------------------------------------------------ VEHICLE DIV ------------------------------------------------------------ */

.no-vehicle-msg {
  text-align: center;
  padding: 2rem;
  line-height: 1.5;
}

.vehicle-item {
  padding: 3rem 2rem;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicle-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.style-vehicle-img {
  width: 15rem;
  aspect-ratio: 16/9;
  margin-right: 2rem;

  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.15rem 0.15rem 0.25rem black;
}

.button-content {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------ PAGINATION ------------------------------------------------------------ */

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: black;

  font-size: 1.25rem;
}
.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}

/* ------------------------------------------------------------ USER ------------------------------------------------------------ */

.user-div {
  border: 1px solid black;
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;

  margin: 2rem 0;
  padding: 1.5rem;
}

/* ------------------------------------------------------------ AGREEMENTS ------------------------------------------------------------ */
.rental-agreement {
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem black;

  padding: 1rem;
}

.rental-agreement > div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rental-agreement > div.content > h1 {
  margin: 1rem 0;
}

.rental-agreement > div.content > .agreement-vehicle-img {
  width: 75%;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem black;
}

#great-job-img {
  width: 90%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem black;
  margin: 1rem 0;
}
